<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="BasePath" value="C:\Users\ryan.kilkenny\Documents\Workspace"/>
  </appSettings>
  <connectionStrings>
    <add name="SiteVisitMetaEntities" connectionString="metadata=res://*/Models.SiteVisitMetaModel.csdl|res://*/Models.SiteVisitMetaModel.ssdl|res://*/Models.SiteVisitMetaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NANATOO;initial catalog=On-Site_AdminConcept;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
